.App {
    /*--header_height: 60px;*/
    margin: auto;

}

.content {
    padding-top: 60px;
    width: 1045px;
    margin-left: auto;
    margin-right: auto;
}

.hw {
    border-bottom: 1px solid #D9D9D9;
    padding: 24px 70px;
}

.hwTitle {
    height: 60px;
    border-bottom: 1px solid #D9D9D9;
    display: flex;
    align-items: flex-end;
    padding: 10px 70px;
    font-weight: 600;
    font-size: 22px;
    line-height: 27px;
}